.library-body {
    width: 96%;
    height: 90%;
    padding: 2%;
    display: flex;
    flex-wrap: wrap;
    overflow-y: auto;
    justify-content: space-between;
}

.playlist-card {
    width: 15%;
    height: 35%;
    border-radius: 20px;
    background-color: #8B9D77;
    border: 1px solid rgba(54, 69, 98, 0.18);
    padding: 1%;
    margin-bottom: 2%;
    background: rgb(238, 174, 202);
    background: linear-gradient(90deg, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
    transition: all 0.2s ease;
}

.playlist-card:hover {
    transform: scale(1.02);
}

.playlist-image {
    width: 100%;
    border-radius: 15px;
}

.playlist-title {
    font-weight: 800;
    font-size: 16px;
    color: rgb(102, 105, 104);
    margin: 10px 0px 0px;
}

.playlist-total {
    font-weight: 400;
    font-size: 12px;
    margin: 0;
}